:root {
    --typewriterSpeed: 4s;
    --typewriterCharacters: 31;

    /* Colours */

    --back-light: #f4f4f4;
    --back-dark: #4f6d7a;
    --main-colour: #f25c54;
    --second-colour: #f27059;
    --third-colour: #f4845f;


    /* FONT */

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .9rem;
    --small-font-size: .8rem;
    --x-small-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    /* MARGIN BOTTOM */

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 0 3rem 0;
    height: 100vh;
    background-color: var(--back-light);
}

html {
    scroll-behavior: smooth;
}
/* NAVBAR */

/* Reusable CSS */

.section {
    padding: 2rem 0 2rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.contain{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--back-light);
}

.nav_main {
    max-width: 968px;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    text-decoration: none;
    color: black;
}


.nav_toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--back-light);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav_list {
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}



.nav_icon{
    font-size: 1.5rem;
}

.nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer
}

/* SHOW MENU */

.show-menu {
    bottom: 0;
}

/* ------------ HOME ---------------- */
.home_container {
    gap: 1rem ;
}

.home_content {
    display: flex;
    justify-content: center;
    grid-template-columns: 25px 300px;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_data {
    padding-top: 20px;
}

.home_social_icon {
    font-size: 1.25rem;
}

.home_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ---------------- SECTIONS ------------------ */

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: var(--back-light);
}

.footer-section {
    margin-top: 160px;
    margin-bottom: 50px;
}

.contact-section {
    width: 100%;
    height: 130vh;
    background: var(--back-light);
}


/* ------- ABOUT -------- */

.about-section {
    color: white;
    text-align: center;
    width: 100%;
    height: 120vh;
    background: var(--main-colour);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-image {
    max-width: 400px;
    margin-top: 100px;
    padding-bottom: 20px;
}

.about-title {
    padding-top: 20px;
}

.about-content {
    max-width: 350px;
    max-height: 100px;
}

.button {
    display: inline-block;
    background-color: var(--back-dark);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 175px;
    text-decoration: none;
}

.button_icon {
    font-size: 1.25rem;
    margin-left: .75rem;
}

.button_flex {
    display: inline-flex;
    align-items: center;
}

/* ----------------------SKILLS---------------------- */

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.skill-container {
    padding: 5px;
    height: 100%;
    width: 80%;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    border: darkgrey solid 1px;
}

.skills-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skills-arrow,
.skills-icon{
    font-size: 2rem;

}

.skills-arrow{
    margin-left: 10px;
    transition: .4s;

}

.skills-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills-grid-container {
    
}

.skills-list{
    display: flex;
    justify-content: space-evenly;
}

.skills-name{
    font-weight: 100;
}


.js-logo {
    width: 50px;
    height: 64px;
}

.ruby-logo {
    width: 64px;
    height: 64px;
}

.rails-logo {
    width: 64px;
    height: 64px;
}

.sql-logo {
    width: 64px;
    height: 64px;
}


.skills-close .skills-list{
    height: 0;
    overflow: hidden;
}

.skills-open .skills-list {
    height: max-content;
    margin-bottom: 5px;
}

.skills-open .skills-arrow {
    transform: rotate(-180deg)
}


/* ----------------------Projects---------------------- */

.project_container {
    overflow: initial;
}

.projects {
    padding-top: 75px;
}

.project_content {
    padding: 0 1.5rem;
}

.project_img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.project_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.project_description {
    margin-bottom: var(--mb-0-75);
}

.projects_button:hover .button_icon {
    transform: translateX(.25rem);
}



/* ----------------------HOME PAGE EFFECTS---------------------- */


#home h1 {
    font-family: 'Source Code Pro', monospace;
    position: relative;
}

#home h1::before,
#home h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#home h1::before {
    background: var(--back-light);
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

#home h1::after{
    width: 0.125em;
    background: black;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blinking 750ms steps(var(--typewriterCharacters)) infinite;
    
}

.subtitle {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 
    calc(var(--typewriterSpeed) + 1s) forwards
}

#home p {
    font-family: 'Source Code Pro', sans-serif;
}

.hello {
    padding-bottom: 30px;
}

.welcome {
    padding-bottom: 30px;
}



.about-img {
    max-width: 250px;
    border-radius: 50%;
    max-height: 100%;
}

.about-p {
 font-size: 1rem;   
}


/* ---------------- Contact ----------------  */
.contact_inputs {
    margin-bottom: 1.5rem;
}

.contact_container {
    row-gap: 3rem;
    margin-bottom: 60px;
}

.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon {
    font-size: 2rem;
    margin-bottom: var(--mb-0-75);
}

.contact_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle {
    font-size: var(--small-font-size);
}

.contact_content {
    background-color: var(--back-dark);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;

}

.contact_label {
    font-size: var(--x-small-font-size);
}

.contact_input {
    width: 100%;
    background-color: var(--back-dark);
    color: var(--second-colour);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;

}

/* ---------------- Footer --------------- */

.footer {
    padding-top: 4rem;
}

.footer_container{
    row-gap: 2.5rem;
}

.footer_bg{
    background-color: var(--main-colour);
    padding: 2rem 0 3rem;
}

.footer_title{
    font-size: var(--h1-font-size);
}

.footer_subtitle {
    font-size: var(--small-font-size);
}

.footer_links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer_link {
    text-decoration: none;
}

.footer_link:hover {
    color: var(--back-light);
}

.footer_social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer_social:hover {
    color: var(--back-light);
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
    color: var(--back-light);
}

a:link {
    text-decoration: none;
}

/* ---------------- KEYFRAMES -------------- */

@keyframes typewriter {
    to { 
        left: 100%; 
    }
}

@keyframes blinking {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ---------------- MEDIA QUERIES --------------  */

@media screen and (min-width: 575px) {
    .about-section {
        height: 100vh;
    }

    .about-content {
        margin-top: -120px;
    }
}


@media screen and (min-width: 767px) {
    .header {
        top: 0;
        bottom: initial;
        padding: 0 1rem;
    }

    .contain {
        margin-right: auto;
        margin-left: auto;
    }

    .nav_main{
        height: 5rem;
        column-gap: 1rem;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle{
        display: none;
    }

    .nav_list{
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
    }

    .about-image {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .about-title {
        padding-top: 0px;
    }

    .about-p{
        padding: 0;
        margin: 0;
    }

    .skill-container {
        height: 75%;
    }

    .projects {
        padding-top: 75px;
    }

    .contact_info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact-section {
        height: 100vh;
        padding-top: 75px;
    }

    .footer-section {
        margin-top: 170px;
        padding-top: 0;
    }

    .footer_container {
        margin: 10px;
    }

    .footer_bg {
        padding: 2rem;
    }
}

@media screen and (min-width: 905px) {
    .footer {
        padding-top: 2rem;
    }
    
    .footer-section {
        margin-top: 200px;
    }
}

@media screen and (max-width:575px) {
    .about-image {
        margin-top: 0;
    }

    .about-title {
        padding-top: 50px
    }
}
